.header {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 2em;
}

.header > h2 {
  margin-top: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.cls {
  margin: 3em;
}

a > h3 {
  color: black;
  text-decoration: underline;
}
