.card {
  display: inline-flex;
  margin: 2em 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.available,
.infoText {
  font-size: 0.9em;
  color: gray;
}

img {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.addform,
.editform {
  margin: 5em auto;
  max-width: 60%;
}

.petinfo {
  text-align: center;
}
